<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>            <string>EasyGrab</string>
    <key>CFBundleDisplayName</key>     <string>EasyGrab</string>
    <key>CFBundleIdentifier</key>      <string>local.easygrab.app</string>
    <key>CFBundleVersion</key>         <string>0.3</string>
    <key>CFBundleShortVersionString</key> <string>alpha 0.3</string>
    <key>CFBundleExecutable</key>      <string>EasyGrab</string>
    <key>CFBundlePackageType</key>     <string>APPL</string>
    <key>NSHighResolutionCapable</key> <true/>
</dict>
</plist>
